/****懒加载动画******/

.lazyimage {
  animation: lazyimage 0.65s;
}

@keyframes lazyimage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.coverbg {
  background-size: cover;
  background-position: center;
}

.coverbgct0 {
  background-size: cover;
  background-position: center 0;
}

//背景图contain
.containbg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skeleton-item {
  width: 100%;
}

.fixedDialog {
  .el-overlay {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .el-dialog {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 5vh !important;
    max-height: 80vh;
    height: max-content;
    overflow: hidden;
  }
  .el-drawer__header {
    margin-bottom: 0;
  }
  .el-drawer__body,
  .el-dialog__body {
    overflow-y: auto;
  }
  .el-drawer__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    .draw-footer {
      padding: 20px;
      text-align: center;
    }
  }
}

.justify-flex-start {
  justify-content: flex-start !important;
}

.align-flex-start {
  align-items: flex-start !important;
}

.label_error {
  color: #f56c6c;
}

.label_success {
  color: #67c23a;
}

.divider-wrap {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 10px 8px;
  margin-bottom: 8px;
  background-color: #e6e4e4;
  border-radius: 2px;
  &:before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 4px;
    margin-right: 8px;
    background-color: #539af8;
  }
}

.select-fkey-field {
  width: 150px;
}

.select-fill {
  width: 100%;
}

.set-column-list-wrap {
  overflow-y: auto;
  .set-column-check-group {
    display: flex;
    flex-direction: column;
    max-height: 500px;
  }
  .set-column-check {
    min-height: 24px;
  }
}

/*
 ****************************
 * 滚动条样式设置
 ****************************
 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(170, 169, 169, 0.5);
  &:hover {
    background-color: rgba(170, 169, 169, 0.8);
    transition: background-color 0.15s cubic-bezier(0.25, 0.1, 0.25, 0.1);
  }
}

// /* 屏幕大于1800px的时候写死html的font-size值为200px */
// @media screen and (min-width: 1800px) {
//   html {
//       font-size: 200px !important;
//       /*no*/
//   }
// }
// /* 屏幕小于1300px的时候写死html的font-size值为130px */
// @media screen and (max-width: 1300px) {
//   html {
//       font-size: 130px !important;
//       /*no*/
//   }
// }

/*
 ****************************
 * scale-slide transition
 ****************************
 */
.scale-slide-enter-active {
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.scale-slide-leave-active {
  transform-origin: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.scale-slide-enter-from {
  transform: scale(0);
}

.scale-slide-enter-to {
  transform: scale(1);
}

.scale-slide-leave-from {
  transform: scale(1);
}

.scale-slide-leave-to {
  transform: scale(0);
}
