.property-wrap {
  &_tabs {
    background-color: #fff;
  }
  .el-tabs__header {
    margin: 0;
  }
  .el-tabs__nav {
    width: 100%;
  }
  .el-tabs__item {
    text-align: center;
    width: 50%;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
  }
  .el-divider__text {
    background-color: #d1eefa;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
  }
}

.property-panel {
  .el-collapse-item__content {
    padding: 10px 0px 0px 5px;
  }
  .el-collapse-item__header {
    padding: 0 5px;
  }
}

.bpmn-tool {
  .el-form-item {
    margin-bottom: 35px;
    width: 325px;
  }
  .el-form-item__error {
    line-height: 15px;
    height: 15px;
  }
}

.bpmn-listener {
  .el-form-item {
    margin-bottom: 38px;
    max-width: 400px;
  }
  .el-form-item__error {
    line-height: 15px;
    height: 15px;
  }
}
.role-dialoag-buttom {
  .el-checkbox-group {
    display: flex;
    flex-direction: column;
  }
  .el-checkbox {
    margin-bottom: 10px;
  }
  .el-checkbox__label {
    font-size: 16px;
  }
  .el-tree-node__content {
    align-items: baseline;
  }
}

//列强制竖排
.columRow {
  [class*="el-col-"] {
    float: none;
  }
}

.el-progress-bar__inner {
  max-width: 100%;
}

//进度条内文字
.progress-wrap {
  .el-progress-bar__outer {
    border-radius: 10px;
  }
  .el-progress-bar__inner {
    border-radius: 10px;
  }
}
//进度条颜色
.progress-color-item {
  .el-form-item {
    margin-bottom: 5px;
  }
  .el-form-item__label {
    padding: 0 2px;
  }
}

.breadcrumb-separator {
  .el-breadcrumb__separator,
  .is-link {
    font-weight: normal;
  }
  .is-link {
    color: var(--color-primary);
  }
}

.el-form-item__content {
  width: 100%;
}
