.system-component-cfg {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-wrap {
  height: 68px;
  display: flex;
}
.button-wrap {
  flex: 1;
}

.comment{
  margin-bottom: 20px;
}
