.apps-container {
  height: 100%;
  padding-bottom: 80px;
  padding: 10px 0;
  overflow-y: auto;
  .skeleton-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 222px;
    .skeleton-image {
      width: 230px;
      height: 100%;
      margin-right: 20px;
    }
    .skeleton-item {
      width: 308px;
      height: 100%;
      margin-right: 20px;
    }
  }
  .container {
    margin: 0 10px;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 50px;
    .apps-left {
      height: 100%;
      width: 230px;
      min-height: 212px;
      background-color: #c5c5c5b7;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      font-weight: 600;
      color: #ffffff;
      word-break: break-word;
      border-radius: 3px;
      overflow: hidden;
      background-image: url("../../assets/images/pic-app.png");
    }
    .container-main {
      padding: 0;
      margin-left: 20px;
    }
    .apps-right {
      display: grid;
      gap: 20px 20px;
      grid-template-columns: repeat(auto-fill, 308px);
      grid-template-rows: repeat(auto-fill, 222px);
    }
    .app-card {
      font-size: 20px;
      text-align: center;
      line-height: 190px;
      color: #585858;
      width: 290px;
      height: 212px;
      opacity: 1;
      background: #ffffff;
      border-radius: 3px;
      box-shadow: 0px 0px 15px #eee;
      cursor: pointer;
      align-self: center;
      justify-self: center;
      .title {
        width: 100%;
        height: 100%;
        text-align: center;
        display: grid;
        align-items: center;
      }
    }
  }
  .app-plus {
    background-color: rgb(250, 247, 247);
    border: 2px dashed rgb(197, 197, 197);
    justify-content: center;
    color: #999;
    i {
      font-size: 38px;
    }
  }
}
