.is-disabled {
  background-color: var(--disabled-bgcolor);
}

.text-button {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &-primary {
    color: var(--el-color-primary);
  }
  &-success {
    color: var(--el-color-success);
  }
  &-warning {
    color: var(--el-color-warning);
  }
  &-error {
    color: var(--el-color-error);
  }
  &-info {
    color: var(--el-color-info);
  }
}
