.page-content {
    height: 100%;
    display: flex;
}

.page-left {
    width: 25%;
    padding: 0 10px;
    overflow-y: auto;
}

.page-right {
    display: flex;
    width: 75%;
    flex-direction: column;
    padding: 0 20px;
}

.search-wrap {
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // padding: 10px 10px 0 10px;
}

.button-wrap {
    padding: 10px 10px 0 10px;
}