/* 行为相关颜色 */
$color-primary: #1890FF;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;

/* 文字基本颜色 */
$text-color: #323232; //基本色
$text-color-inverse: #fff; //反色
$text-color-grey: #999; //辅助灰色
$text-color-placeholder: #888;
$text-color-disable: #c0c0c0;

/* 背景颜色 */
$bg-color: #ffffff;
$bg-color-grey: #f7f7f7;
$bg-color-hover: #f1f1f1; //hover颜色
$bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$border-color: #dddddd;
