.page-tabs-container {
  padding: 0 20px;
  .el-tabs__header {
    margin: 0;
  }
  .el-tabs--top .el-tabs__item.is-top:nth-child(2),
  .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
  .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
  .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
  .el-tabs--top .el-tabs__item.is-top:last-child,
  .el-tabs--top .el-tabs__item.is-bottom:last-child,
  .el-tabs--bottom .el-tabs__item.is-top:last-child,
  .el-tabs--bottom .el-tabs__item.is-bottom:last-child {
    padding: 0 30px;
  }
  .el-tabs--top .el-tabs__item {
    padding: 0 30px;
    margin-top: 4px;
    height: 30px;
    line-height: 30px;
    margin-right: -18px;
    border-radius: 10px 10px 0 0;
  }
  .el-tabs__item {
    mask: url("@/assets/images/tab-mark.png");
    -webkit-mask: url("@/assets/images/tab-mark.png");
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    &.is-active {
      background-color: var(--color-primary-light2);
    }
    &:hover {
      background-color: var(--el-color-primary-light-9);
    }
  }
  .el-tabs__nav-wrap:after {
    content: none;
  }
  .el-tabs__active-bar {
    height: 0;
  }
}
