/**
*  全局样式变量
*/

/**
* =================================================
* theme
* =================================================
*/
/**主色调*/
$color-primary: #1c56cf;
/**成功色调*/
$color-success: #42c986;
/**警告色调*/
$color-warning: #eea71c;
/**错误色调*/
$color-error: #fb6041;
/** 信息提示色调 */
$color-info: #999;
/* 主色调light 1 */
$color-primary-light1: #a4c2ff;
/* 主色调light 2 */
$color-primary-light2: #cbdcff;

/**
* =================================================
* text
* =================================================
*/
/* 文字基本颜色 */
$text-color: #333333;
/* 文字颜色-light 1 */
$text-color-light1: #666666;
/* 文字颜色-light 2 */
$text-color-light2: #999999;
/* 文字颜色-light 3 */
$text-color-light3: #cccccc;

/**
* =================================================
* border
* =================================================
*/
/** 控件边框颜色 */
$border-color: #e4e6ec;
$border-color-light1: #efefef;
$border-color-light2: #f5f5f5;
$border-color-light3: #f5f7fa;
$border-button-radius: 6px;

/**
* =================================================
* behavior
* =================================================
*/
/* 禁用状态背景色 */
$disabled-bgcolor: #dcdcdc;

/**
* ==================================================
* Table
* ==================================================
*/
/* 表格边框颜色 */
$table-border-color: #efefef;

/* 表格筛选按钮背景色 */
$table-filter-bgcolor: #f5f5f5;

/* 表头背景色 */
$table-header-bgcolor: #f5f7fa;

/**
* ==================================================
* Menu
* ==================================================
*/
/* 菜单文字颜色 */
$menu-color: #ffffff;
/* 菜单激活背景颜色 */
$menu-active-bgcolor: #0b2f7a;
/* 末级菜单背景色 */
$menu-leaf-bgcolor: #1b48a5;

/**
* ==================================================
* Background-Color
* ==================================================
*/
/* 默认背景色 */
$background-color: #f5f5f5;
/* 背景反色 */
$background-color-inverse: #ffffff;

/**
* ==================================================
* Box-Shadow
* ==================================================
*/
$box-shadow: rgba(220, 220, 220, 0.4);
