.user-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-wrap {
    margin: 10px;
    display: flex;
    align-items: center;
    .el-input {
      width: 200px;
      margin-right: 10px;
    }
    .el-button {
      margin-right: 10px;
    }
  }
}

.record-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  .oper-warp {
    display: flex;
    i {
      margin-left: 10px;
      font-size: 24px;
      color: #48a9ff;
    }
  }
}

.cell {
  .el-dropdown:last-child .el-button {
    margin: 0 20px;
  }
}

.dropdown-header {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
}
.dropdown-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  .dropdown-footer-title {
    margin-right: 20px;
    font-weight: bold;
  }
  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }
}

.filter {
  margin: 0 5px 0 30px;
}
.confirm-msg {
  color: $color-primary;
}
