.charts-list {
  height: calc(100vh - 68px);
  width: 300px;
  border-right: 1px solid #eee;
  padding: 10px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.charts-draggable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.charts-body {
  padding: 0 15px;
  background-color: #d1eefa;
  font-size: 14px;
  cursor: move;
  border: 1px dashed #f6f7ff;
  border-radius: 3px;
  color: #666;
  height: 48px;
  display: flex;
  align-items: center;
  &:hover {
    border: 1px dashed #3a40f7;
    color: #409eff;
    font-weight: 600;
  }
  i {
    margin-right: 5px;
    font-size: 16px;
    color: #409eff;
  }
}
