/**************************\
	name: index.scss
	author: gsj
	date: 2019-07-29
	desc: 页面样式
\**************************/

/**
  1、panel和panel-simple样式
  2、pagination分页条内的组件样式
**/

/* panel和panel-simple样式
------------------------------ */
.panel, .panel-simple {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.panel-simple {
  min-height: 200px;
  .panel-header {
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    color: #4d627b;
    border-radius: 2px 2px 0 0;
    font-size: 15px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    .panel-heading-inner {
      float: left;
      & > svg {
        font-size: 25px;
        margin-right: 8px;
        margin-top: -4px;
        color: #5dc3ba;
        vertical-align: middle;
      }
    }
    .panel-heading-right {
      float: right;
      text-align: right;
      cursor: pointer;
      & > svg {
        vertical-align: middle;
        margin-top: -4px;
        margin-left: 5px;
      }
    }
  }
  .panel-body {
    padding: 15px;
  }
}
.panel .panel-header,
.panel-simple .panel-header {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.panel .panel-header:before,.panel .panel-header:after,
.panel-simple .panel-header:before,.panel-simple .panel-header:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.panel {
  .panel-header {
    min-height: 55px;
    padding: 0 15px;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 15px;
    padding-left: 100px;
    margin-bottom: 15px;
    .panel-heading-inner {
      position: absolute;
      left: -8px;
      display: inline-block;
      padding-right: 20px;
      color: #fff;
      white-space: nowrap;
      background-color: #297ace;
      border-radius: 5px 5px 5px 0;
      padding: 10px 20px;
      margin-top: 10px;
      &:after {
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0;
        height: 0;
        content: "";
        border: 4px dashed transparent;
        border-top-color: #297ace;
        border-right-color: #297ace;
      }
    }
    .panel-heading-right {
      float: right;
      text-align: right;
      margin-top: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e8e3e3;
      .lic-status-info {
        display: inline-block;
        font-size: 12px;
        margin-right: 8px;
      }
    }
  }
  .panel-body {
    padding: 0;
    padding-bottom: 15px;
  }
  .panel-footer {
    .lic-status {
      font-size: 15px;
      color: red;
    }
  }
}
.panel .panel-header:before,.panel .panel-header:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.panel .panel-body,
.panel-simple .panel-body {
  overflow-y: auto;
  line-height: 28px;
  font-size: 13px;
  font-family: "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53";
  box-sizing: border-box;
}
.panel .panel-footer,
.panel-simple .panel-footer {
  padding: 10px 15px;
  font-size: 13px;
  color: #9a9a9a;
  border-top: 1px dashed #ccc;
  line-height: 24px;
  box-sizing: border-box;
}
.badge-item-move-down {
  & > .el-badge__content {
    top: 6px;
  }
}

/* panel和panel-simple样式
------------------------------ */
.pagination-wrapper{
  .upload-button{
    display: inline-block;

    .el-upload-list{
      display: none;
    }
  }
}

/* 按钮栏
------------------------------ */
.button-row{
  margin-bottom: 8px;
}