.tool-bar {
  display: flex;
  justify-content: space-between;
}
.advanced-search {
  display: inline;
  float: left;
}

.more-button {
  margin-left: 10px;
  .el-icon-more {
    cursor: pointer;
    transform: rotate(90deg);
    transform-origin: center;
  }
}

.modelcondition {
  padding: 10px 10px 0 10px;
  margin-left: 80px;
}