/**************************\
	name: base.scss
	author: gsj
	date: 2019-07-29
	desc: 基础样式
\**************************/

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

[v-cloak] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #dedee0;
  border-radius: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.hide,.hidden { display: none !important; }
.show { display: block !important; }
.visible { visibility: visible !important; }
.invisible { visibility: hidden !important; }

.ft-lf{ float:left; }
.ft-rt{ float:right; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

/*  换行    */
.wrap-yes{
  white-space:normal !important;
  height:auto !important;
}
/*  不换行  */
.wrap-no{
  white-space:normal !important;
  text-overflow: ellipsis !important;
}

/*  圆形小点  */
.circle-point{
  display:inline-block;width:15px;height:15px;border-radius:15px;
}
/*红色*/
.red{
  background-color:#EA6291; 
}
.deepred{
  background-color:#f13939; 
}
/*黄色*/
.yellow{
  background-color:#FBB12D; 
}
/*绿色*/
.green{
  background-color:#8FC155; 
}
/*蓝色*/
.blue{
  background-color:#2FACF1; 
}
/*灰色*/
.gray{
  background-color:#8e8e8e; 
}
/*紫色*/
.purple{
  background-color:#8e8e8e; 
}
/*橙色*/
.orange{
  background-color:#fb6e52; 
}

/* 清除百度地图logo */
.BMap_cpyCtrl {display: none;}
.anchorBL{display:none;}
