.app-container {
  height: 100vh;
  display: flex;
  background-color: $background-color;
}
.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  overflow: hidden;
  height: 100%;
}
.app-header {
  height: 50px;
  background: $background-color-inverse;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px $box-shadow;
  .rigth-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    i {
      cursor: pointer;
      color: $text-color-light1;
      font-size: 24px;
    }
    & > div {
      margin-right: 38px;
      align-items: center;
      display: flex;
    }
    .user-wrap {
      display: flex;
      align-items: center;
    }
    .user-name {
      margin-left: 10px;
    }
  }
}

.app-left-container {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  padding: 14px 0px 30px 0px;
  transition: all 0.3s ease-in-out;
  .title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .bottom-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    span {
      margin-left: 10px;
    }
  }
  &.expand {
    .app-search {
      padding: 0 20px;
    }
  }
  .el-input__inner {
    background-color: #8daae7;
    border-color: transparent;
    color: var(--el-color-white);
  }
  .el-input__icon {
    color: $color-primary;
  }
  .menus-wrap {
    margin: 10px 0 20px 0;
    flex: 1 0 0%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.main-container {
  padding: 4px;
  flex: 1 0 0%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  .page-tabs {
    height: 34px;
    background-color: $background-color-inverse;
  }
  .route-container {
    flex: 1 0 0%;
    margin: 14px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $background-color-inverse;
  }
}
