.m-page-edit {
  width: 100%;
  min-height: 100px;
  background-color: white;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 padding: 15px;


  & > .el-form {
    width: 100%;
    // display: flex;
    flex-wrap: wrap;

    & > .el-row {
      width: 100%;
    }

    & > .el-tabs {
      width: 100%;
    }

    .el-input-number {
      width: 100%;
    }

    .el-input-number--medium {
      width: 100%;
    }
  }

  

  .table-tool-wrap {
    display: flex;
    align-items: center;
    // background-color: #f2f2f2;
    margin-bottom: 15px;
  }
}
