.app-container {
  height: 100vh;
  display: flex;
  // flex-direction: column;
  background-color: #f5f5f5;
  .left-container {
    // margin-right: 20px;
    background-color: #001529;
    // background-color: rgb(0, 21, 41);
    box-shadow: 0px 2px 15px 0px rgba(154, 172, 198, 0.2);
    overflow-y: auto;
    height: 100%;
  }
  .layout-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
    overflow: hidden;
    height: 100%;
  }
  .app-header {
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 4px 0 3px #ddd;
    position: relative;

    .left-wrap {
      display: flex;
      align-items: center;
    }

    .main-menu {
      flex: 1 auto;
      height: 100%;
    }
    .el-menu {
      height: 100%;
    }
    .sidebar-menu-wrap {
      height: 100%;
    }
    .el-menu,
    .el-menu-item {
      height: 100%;
      line-height: 70px;
      font-size: 16px;
      display: flex;
      align-items: center;

      i {
        font-size: 18px;
        margin-right: 8px;
      }
    }

    .el-menu.el-menu--horizontal {
      border: none;
    }

    .menuimg {
      width: 24px;
      height: 24px;
    }

    .el-menu-item.is-active {
      color: $color-primary; // #4390ff;
    }

    .rigth-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      height: 100%;
      padding: 0 10px;
      cursor: pointer;
      font-size: 16px;

      & > div {
        margin: 0 8px;
      }
    }

    .language {
      align-items: center;
      display: flex;
    }

    .helperCenter {
      align-items: center;
      display: flex;
    }

    .el-icon-question:before {
      content: "";
      margin-right: 5px;
    }

    .user-name {
      margin: 0 10px;
      font-size: 14px;
    }
  }

  .main-container {
    flex: 1 0 0%;
    overflow: hidden;
  }

  .main-wrap {
    height: 100%;
  }
}
